@font-face {
    font-family: 'Press-Start-2P';
    src: url(/content/fonts/pressstart2p/PressStart2P.ttf);
}

@font-face {
    font-family: 'Home-Video';
    src: url(/content/fonts/Home_Video/HomeVideo.ttf);
}

@font-face {
    font-family: 'Home-Video-Bold';
    src: url(/content/fonts/Home_Video/HomeVideoBold.ttf);
}

@font-face {
    font-family: 'K2D';
    src: url(/content/fonts/K2D/K2D-Regular.ttf);
}

@font-face {
    font-family: 'K2D-Semi-Bold';
    src: url(/content/fonts/K2D/K2D-SemiBold.ttf);
}

@font-face {
    font-family: 'K2D-Bold';
    src: url(/content/fonts/K2D/K2D-Bold.ttf);
}

* {
	box-sizing: border-box;
}

:root{
    --very-light-purple: #F1EAF6;
    --light-purple: #EADBF2;
    --pastel-purple: #D2BAE0;
    --background-dark-purple: #100113;
    --color-black:black;
    --light-mode-purple: #290930;


    --large-h1: 60px;
    --medium-h1: 33px;
    --small-h1: 20px;

    --large-h2: 30px;
    --medium-h2: 32px;
    --small-h2: 24px;

    --size-h3: 20px;
    
    --small-p: 18px;
    --medium-p: 20px;


    --small-gap: 20px;
    --image-gap: 25px;
    --medium-gap: 40px;
    --large-gap: 80px;
    --huge-gap: 100px;

    --section-gap: 40px; /*the space from a section header to paragrpah*/
    --items-gap: 100px;

}



main{
    margin: 24px;
}

@media (min-width: 1024px){
    main{
        margin: 40px;
    }
}


p{
    /* color: var(--light-purple); */
    font-family: 'K2D';
}

h1, h2, h3{
    /* color: var(--light-purple); */
    font-family: 'Press-Start-2P';
}

.preview-cs-img{
    width: 70%;
}


/*homepage top stars*/
.top-stars{
    margin: 0;
    display: flex;
    justify-content: end;
}


.cs-work-view{
    display: flex;
    flex-direction: column;
    gap: var(--huge-gap);
}

.project-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid var(--background-dark-purple);
    border-radius: 20px;
    
    padding: var(--small-gap);

    h1{
        text-align: center;
        font-size: var(--small-h1);
        margin: 20px 0px 20px 0px;
    }


}



/*footer*/

footer{
    background-color: var(--color-black);
}


.footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-img{
    height: 18px;
    width: auto;
}

.link{
    display: flex;
    flex-direction: row;
    align-items: center;

}