@font-face {
    font-family: Press-Start-2P;
    src: url("/content/fonts/pressstart2p/PressStart2P.ttf");
}


@font-face {
    font-family: K2D;
    src: url("/content/fonts/K2D/K2D-Regular.ttf");
}

@font-face {
    font-family: K2D-Semi-Bold;
    src: url("/content/fonts/K2D/K2D-SemiBold.ttf");
}

@font-face {
    font-family: K2D-Bold;
    src: url("/content/fonts/K2D/K2D-Bold.ttf");
}

* {
	box-sizing: border-box;
}

:root{
    --very-light-purple: #F1EAF6;
    --light-purple: #EADBF2;
    --pastel-purple: #D2BAE0;
    --background-dark-purple: #100113;
    --color-black:black;
    --light-mode-purple: #290930;

    --heading-font: 'Press-Start-2P', Arial, Helvetica, sans-serif; ;
    --p-font: 'K2D', Arial, Helvetica, sans-serif;
    --p-font-bold: 'K2D-Bold', Arial, Helvetica, sans-serif;
    --button-font:'K2D-Bold', Arial, Helvetica, sans-serif;



    --large-h1: 60px;
    --medium-h1: 36px;
    --small-h1: 32px;

    --large-h2: 30px;
    --small-h2: 24px;

    --size-h3: 20px;
    
    --small-p: 16px;
    --default-p: 18px;
    --medium-p: 20px;
    --tablet-p:20px;
    
    --tiny-gap: 5px;
    --small-gap: 20px;
    --image-gap: 25px;
    --medium-gap: 40px;
    --large-gap: 60px;
    --huge-gap: 100px;
    --nav-heading-gap: 68px;
    

    --border-radius-s: 20px;

    --line-height: 1.5;
    --letter-space: 1.5px;

    --section-gap: 40px; /*the space from a section header to paragrpah*/
    --side-margin: 80px;
    --items-gap: 100px;

    --element-margins: 15px;
    --element-margins-tablet: 24px;

}



main{
    margin: 60px 24px;
}

a{
    font-size: var(--default-p);
}

body{
    /* background-color: var(--color-black); */
    background: center 10% repeat var(--color-black) url(../content/Images/bg_fade_stars.webp);
    background-size: 400px;
    
}

p{
    color: var(--light-purple);
    font-family: var(--p-font);
    margin: 0;
    line-height: var(--line-height);
    font-size: var(--default-p);
}

h1, h2, h3{
    color: var(--light-purple);
    font-family: var(--heading-font);
     letter-spacing: var(--letter-space);
    
}



/*navigation*/
 
.top-nav{
    background-color: var(--color-black); /*its not covereing the margin parts*/
    border-bottom: 2px solid var(--light-purple);
  
}

.navbar{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    line-height: var(--line-height);
    
   
    a{
        text-decoration: none;
        color: var(--light-purple);
        font-family: var(--p-font);
    }

    .site-name{
        margin: var(--small-gap);

        a{
            font-family: var(--button-font);
        }
    }

        .menu-all{
        /* display: none; */
        background-color: var(--color-black);
        position: absolute;
        /* top: 9.2vh; */
        top: 150px;
        width: 100%;
        left: 0;
        height: 100vh;
        z-index: 2;
        margin: 0;
        padding: 20px;


        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        /* gap: var(--medium-gap); */

        font-size: var(--small-h2);

            .nav-menu-item{
                padding: 25px 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                a{
                    padding: 10px 25px;

                    &:hover{
                        color: var(--background-dark-purple);
                        background-color: var(--light-purple);
                    }
                }

                .nav-sub-menu{
                    justify-content: flex-end;
                }

            }

        }

    .navbar-icons{ /*nav button shows*/
          cursor: pointer;
            margin: 10px;
            
            img{
                padding-top: 5px;
                height: 30px;
                
            }

    }


    .hide{
        display: none;
    }

    .hidden{
        opacity: 0;
        z-index: -5;
    }


 /**submenu*/
    .sub-image-text{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                gap: 5px;
                
            
                img{
                    height: 30px;
                    width: 40px;
                    
                }
            }

            .nav-sub-menu{
                padding: 0;
                margin: 10px 0;
                display:flex;
                flex-direction: column;
            }
            
            .sub-hide{
                display: none;
            }
}

.preview-cs-img{
    display: flex;
    justify-content: center;
    img{
        width: 70%;
        margin: var(--element-margins);
    }

}

.hero{
    /* margin-top: var(--nav-heading-gap); */
    margin-bottom: var(--huge-gap);
}


.hero-photo{

    position: absolute;
    right: 20px;
    display: flex;
    justify-content: end;
    width: 100%;

}

.intro-text{
    
    margin: var(--element-margins);


    h1{
        margin: var(--element-margins) 0;
    }

    span{
        font-size: 14px;
        font-style: italic;
    }

}

.read-more-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

    margin: auto;
}

/*Buttons*/
.button-box{
    display: flex;
    justify-content: center;


}

.button-link{
    display: inline;

    margin-top:var(--element-margins) ;
    padding: 28px 30px;
    background-color: var(--light-purple);
    border-radius: 32px;
        
    color: var(--color-black);
    text-decoration: none;
    text-align: center;
    font-family: var(--button-font);
    text-transform: uppercase;
    font-size: var(--p-font);
    letter-spacing: var(--letter-space);
}

/*Buttons for cs pages*/
.button-box-cs{
    display: flex;
    justify-content: center;
    margin: var(--large-gap) 0;
}

.button-box-coming-soon{
    display: flex;
    justify-content: center;
    padding: 28px 50px;
    border-radius: 32px;
    border: 2px solid var(--light-purple);
    margin-top:var(--element-margins) ;
    
    p{
        font-family: var(--button-font);
        letter-spacing: var(--letter-space);
    }
    
}


.dangaling-persona{
    max-width: 220px;
    height: auto;
}



.portfolio-intro{
    margin: var(--element-margins);

    .portfolio-small-text{
        margin: 0 40px;
        font-style: italic;
    }
}





.page-section-text{
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--small-gap);
    
    margin: 60px 5px 0; /*trbl*/


    .pixel-star{
        width: 35px;
        /* margin: auto 10px; */
    }

    #traditional-text{
        font-size: var(--size-h3);
    }
}


.cs-work-view{

    margin-bottom: var(--large-gap);

    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}



.project-div{

    margin: var(--element-margins);
    padding:32px var(--element-margins) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    border: 2px solid var(--light-purple);
    border-radius: var(--border-radius-s);
    
    

  

    .cs-snip-title{
        
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin: 10px;
        
        h2{
            margin: 0;
            text-align: center;
           
            line-height: var(--line-height);
        }

    }

    .cs-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 15px;
        margin: var(--element-margins);

    }
    
    .sub-img-text{
        font-style: italic;
    }

    /* .button-link{
        margin: var(--element-margins);
    } */

}

.see-more-work{
    text-align: end;
    margin: var(--large-gap) 0;
    
    a{
        
        color: var(--pastel-purple);
        font-family: var(--button-font);
        font-style: italic;
        text-transform: uppercase;
        font-size: var(--medium-p);
        line-height: var(--line-height);

    }
    
   
    
}

/*cs pages*/
.cs-hero-img{
    img{
        width: 90%;
        margin:auto;
        /* display: flex; */
    }

   
}


.cs-details-section{

    display: flex;
    flex-direction: column;
    gap: var(--small-gap);

    
    margin: var(--large-gap);
    
     #duration{
            grid-column: 2;
        }

    .cs-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--element-margins);
        text-align: center;
        
       

        .cs-detail-title{
            font-family: var(--heading-font);
            font-size:var(--size-h3);
        }

        
    }

}


.page-title{
   
    margin: 60px 15px 15px;
    
    h1{
        margin: var(--element-margins) 0;
    }

    #photography-h1-text{
        font-size: var(--small-h2);
    }


}

.cs-body{
    
    margin: var(--element-margins);

      display: flex;
      flex-direction: column;
      gap: var(--medium-gap);

      .page-section-text{
        margin-top: var(--element-margins);
      }
}

.cs-sub-sections{
    
    p{
        margin: 15px 0;
    }

    .cs-section-images{
        max-width: 100%;
        margin: var(--image-gap) 0;
        border-radius: var(--border-radius-s);
    }

    
}

.arrows-descr{
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    padding: var(--small-gap) 0;

    .arrow-section{
        display: flex;
        flex-direction: row;
        align-items: start;

        p{
            margin: 5px 0;
        }

        .bullet-point-arrow{
            height: 2rem;
            margin: 5px;
        }
    }

}

/*About Me*/
.about-me-pic{

    margin: 40px;
    
    img{
        width: 100%;
    }


}

.page-sub-skill-text{
    margin: 0 0 20px 60px;
}

.about-me-skills{
    display: flex;

    .skills-image{
        width: 70%;
        margin: auto;
    }
}

#about-me-resume{
    margin-bottom: 100px;
}

.character-stats{
    display: none;
}

.about-me-tabs{
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
    margin: 40px 0;

    .w-tab{

        margin: var(--element-margins);
       
        .about-me-tab-title{
            margin: -1.5px 15px;
            padding: var(--element-margins);
            max-width: 80%;
            text-align: center;
            border: 2px solid var(--light-purple);
            border-radius: 20px 20px 0 0;
        }

        .about-me-tab-text{
            padding: var(--medium-gap);
            border: 2px solid var(--light-purple);
            border-radius: 20px;
        }
    }
}

.about-me-tabs-version2{
    display: none;
}

/*Photo Page*/
.photo-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--element-margins);
    gap: var(--large-gap);

    figure{

        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        
        img{
            max-width: 100%;
            height: auto;
            margin: var(--element-margins);
            border: 2px solid var(--light-purple);
            border-radius: var(--border-radius-s);
        }

        figcaption{
            color: var(--light-purple);
            font-family: var(--p-font);
        }
    }


}

/*ArtWork*/
.carousel{
    position: relative;
    /* height:600px; */
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;

   /*div for the ul+li*/
    .carousel-container{
        overflow: hidden; /*clipping anything that overflows the element box-> 'carousel*/


        /*div for the items*/
        .carousel-item-ul{        
            display: flex;
            transition: transform 0.4s ease;
            padding: 0;
        

            .carousel-item{
                min-width: 100%;
                text-align: center;
                align-self: center;
                padding: 5px;

                img{
                        width: 100%;
                        border-radius: var(--border-radius-s);
                        border: solid 2px var(--light-purple);
                }  

                /*about me page carousel*/
                .about-title{
                    font-family: var(--heading-font);
                    background-color: var(--color-black);
                    width: 100%;
                    height: 60px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    border:  3px solid var(--light-purple);

                    position: relative;
                    bottom: 30px;

                }

                a{
                    text-decoration: none;
                }
            }
        }

    }

    
    .arrows{
       display: flex;
       justify-content: center;
       gap: var(--small-gap);
       margin: var(--element-margins); 

       .arrow-click{
            width: 80px;
            cursor: pointer;
       }

       .carousel-left-arrow, .carousel-right-arrow{
        background-color: transparent;
        border: none;
       }

    }



}


/*footer*/
footer{
    background-color: var(--color-black);
    border-top: 2px solid var(--pastel-purple);
    padding: var(--medium-gap);

    h2{
        margin: var(--element-margins);
        font-family: var(--button-font);
        font-size: var(--size-h3);
        text-align: center;
    }
    
}

.mobile-footer{
   

    .link{
        display: flex;
        justify-content: center;
        gap: var(--small-gap);
        margin: var(--element-margins);


        .footer-img{
            height: 50px;
            width: auto;
        }
    }
}

.desk-footer{
    display: none;

    .footer-img{
        height: 30px;
        width: auto;
        
    }

    .link{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        a{
            color: var(--pastel-purple);
            text-decoration: none;
            font-family: var(--p-font);
            
        }

    }    

}
   
@media screen and (min-width: 720px) { /*tablet*/
    
    main{
        margin: 60px 40px;
    } 

    p{
        font-size: var( --tablet-p);
    }

    h1{
        font-size: var(--medium-h1);
    }
    
    .navbar{
        padding: 35px;

        .menu-all{
            top:148px;
        }

        .site-name{
            a{
                font-size: 24px;
            }
        }

        .nav-menu-item{
            a{
                font-size: 24px;
            }   
        }

        .navbar-icons img{
            height: 40px;
        }
    }

    .hero-photo{
        position: absolute;
        right: 40px;
    }

    .dangaling-persona{
        max-width: 300px;
    }


    .button-link{
        padding: 35px 40px;
    }
    
    
   /* .preview-cs-img{
        img{
            width: 55%;
        }    
    
   } */

   .project-div{
        max-width: 90%;
        margin: 20px auto;

        .cs-info{
            margin: var(--element-margins);
            padding: 0 var(--element-margins-tablet);

            
        }
   }

   

    .see-more-work{
        a{
            font-size: var(--tablet-p);
        }
    }

    .cs-snip-title h2{
        font-size: var(--large-h2);
    }

    /*about me*/
    .about-me-pic{
        display: flex;
        justify-content: center;
        
        img{
            width: 50%;
        }
    }

    .about-me-skills{
        .skills-image{
            width: 90%;
        }
    }

    .about-me-tabs{
        display: none;
    }

    .about-me-tabs-version2{
        display: flex;
        flex-direction: column;
        margin: 40px 0;

        .w-tabV2{
            display: flex;
            gap:0 ;
            margin-left: 20px;
        
            .about-me-tab-titleV2{
                margin: -1.5px 0;
                padding: var(--element-margins);
                max-width: 80%;
                text-align: center;
                border: 2px solid var(--light-purple);
                border-radius: 20px 20px 0 0;

            }


        }
            .about-me-tab-textV2{
                background-color: black;
                padding: var(--medium-gap);
                border: 2px solid var(--light-purple);
                border-radius: 20px;

            
            }

    }

    .about-me-tabs{
        .w-tab{
            .about-me-tab-title{
                max-width: 50%;
            }

            .about-me-tab-text{
                p{
                    font-size: var(--tablet-p);
                }
            }
        }
    } 

      .cs-details-section{
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(3,.5fr);
        margin: var(--large-gap);
    
    

        :nth-child(1){ /*R*/
            grid-column: 1/span2;
            grid-row: 2;
        }

        :nth-child(2){ /*team*/
            grid-row: 1;
        }
        :nth-child(3){ /*tool*/
           grid-column: 2;
           grid-row: 1;
        }
       :nth-child(4){ /*duration*/
            grid-column: 1/span2;
            grid-row: 3;
       }
        
    }

    .cs-body{
        margin: var(--element-margins-tablet);


    }

    .page-section-text{
        .pixel-star{
            width: 45px;
        }
        h2{
            font-size: var(--large-h2);
        }
    }

    /*about me*/
    .carousel{
        width: 65%;
    }



}

@media screen and (min-width: 1024px){ /*when screen is larger than 1024px do this - desk*/




    .index-main{
        margin: 130px 80px;
    }


    main{
        margin: 80px;
    }
    
    p{
        font-size: var(--medium-p);
    }

    h1{
        font-size: var(--small-h1);
    }

    
    
   .page-section-text{
        h2{
            font-size: var(--small-h2);
        }
        .pixel-star{
            width: 35px;
        }
   }
    
    .navbar{
        padding: 25px 40px;
        

        .site-name{
            a{
                font-size: var(--default-p);
            }
        }

        /* .menu-all.hidden, .menu-all.hide{
            display: flex;
        }
        .menu-all{
            display: flex;
            list-style-type: none; 
            justify-content: flex-end;
            position: static;
            width: auto;
            height: auto;
            padding: 0;
            z-index: auto;
        }

        .nav-menu-item{
            padding: 0 20px;

            a{
                font-size: var(--medium-p);
            }   
        }

        .nav-sub-menu{
            display: flex;
            flex-direction: row;
        }

        .navbar-icons img{
            display: none;
        }
        

       
    } */

   
    }
    

    .hero-photo{
        right: 0;
        z-index: -6;
        
       

        img{
            max-width: 100%;
        }
    }

    .hero{
        max-width: 70%;
        padding-top: 40px;
    }

    .dangaling-persona{
        display: none;
    }

    .intro-text{
        margin-bottom: 30px;
    }

    .button-link{
        padding: 28px 30px;

        &:hover{
            background-color: var(--color-black);
            color: var(--light-purple);
            transition: ease .15s;
            outline: 2px solid var(--light-purple);
        }
    }

    /*Work*/

    .carousel{
        width:40%; /*make it a grid*/
    }

    .cs-work-view{
        display: flex;
        align-items: center;
    }
    .project-outline{
        max-width: 928px;
        background-color: transparent;
        outline: 3px solid var(--light-purple);
        border-radius: var(--border-radius-s);
        
        margin: 40px 50px ;
        display: inline-block;

        .project-div{
            
            
            max-width: 1000px;
            padding: 30px 50px;
            background: center 10% repeat var(--color-black) url(../content/Images/bg_fade_stars.webp);
            transform: translate(20px, -15px);
            margin: 0;
            

            display: grid;
            grid-template-columns: repeat(2, .5fr);
            grid-template-rows: repeat(2, .5fr);
            column-gap: 0;
            row-gap: 10px;
            
            .preview-cs-img{
                width: 90%;
            }

            h2{
                font-size: var(--small-h2);
            }

            #fandango-h2{
                font-size: var(--size-h3);
            }

            .preview-cs-img{
                grid-row: 1/span2;
            }
        }

    }

    .cs-hero-img{

        img{
            width:50%;
        }
    }

    .cs-details-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .cs-body{
        padding: 0 50px;

        .cs-section-images{
            display: flex;
            justify-self: center;
            width: 70%;
            margin: var(--large-gap) 0;
            
            
        }
    }



    /*about me*/
    .about-me-pic{
        img{
            width: 30%;
        }
    }

    .about-me-tabs-version2{
        margin: 80px 60px;
        padding: 0 40px;
    }

    .about-me-skills .skills-image{
        width: 70%;
    }

 /*photo page*/
    .photo-all{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3,.5fr);
        column-gap: 0;

        img{
            margin: 0;
            max-width: 40%;
        }
        .mountains-photo{
            grid-column: 1/span 6;
            
        }
        
        .greyst-photo{

            grid-column: 1/span 3;
            grid-row: 2;
            display: flex;
            align-self: center;
            
        }

        .glac-photo{
            grid-column: 4/span 6;
            grid-row: 2;

            display: flex;
            align-self: center;
        }

        .india-photo{
            grid-column: 1/span 6;
            grid-row: 3;
        }
    }



    .mobile-footer{
        display: none;
    }

    footer {
       h2 {
            font-size: var(--small-h2);
        }
    }
    .desk-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--large-gap);
        margin: 40px var(--element-margins-tablet);

    
        a{
            font-size: var(--size-h3);
        }

        .footer-img{
            width: 35px;
            height: auto;
        }


    }


}   
