@font-face {
    font-family: Press-Start-2P;
    src: url("/content/fonts/pressstart2p/PressStart2P.ttf");
}


@font-face {
    font-family: K2D;
    src: url("/content/fonts/K2D/K2D-Regular.ttf");
}

@font-face {
    font-family: K2D-Semi-Bold;
    src: url("/content/fonts/K2D/K2D-SemiBold.ttf");
}

@font-face {
    font-family: K2D-Bold;
    src: url("/content/fonts/K2D/K2D-Bold.ttf");
}

* {
	box-sizing: border-box;
}

:root{

    --background-dark-purple:#100113;
   
    --light-purple: #EADBF2;
    --background-black: black;
    --color-black: black;

    --no-change-purple: #EADBF2;
    --no-change-black: black;
   


    --heading-font: 'Press-Start-2P', Arial, Helvetica, sans-serif;
    --p-font: 'K2D', Arial, Helvetica, sans-serif;
    --p-font-bold: 'K2D-Bold', Arial, Helvetica, sans-serif;
    --button-font:'K2D-Bold', Arial, Helvetica, sans-serif;

    --large-h1: 60px;
    --medium-h1: 36px;
    --small-h1: 32px;

    --large-h2: 30px;
    --small-h2: 24px;

    --size-h3: 20px;
    
    --small-p: 16px;
    --default-p: 18px;
    --medium-p: 20px;
    --tablet-p:20px;
    
    --tiny-gap: 5px;
    --small-gap: 20px;
    --image-gap: 25px;
    --medium-gap: 40px;
    --large-gap: 60px;
    --huge-gap: 100px;
    --nav-heading-gap: 68px;

    --border-radius-s: 20px;

    --line-height: 1.5;
    --letter-space: 1.5px;

    --element-margins: 15px;
    --element-margins-tablet: 24px;

}



main{
    margin: 60px 24px;
}

a{
    font-size: var(--default-p);
}

body{
    /* background-color: var(--color-black); */
    background: center 10% repeat var(--background-black) url(../content/Images/bg_fade_stars.webp);
    background-size: 400px;
    
}

p{
    color: var(--light-purple);
    font-family: var(--p-font);
    margin: 0;
    line-height: var(--line-height);
    font-size: var(--default-p);
}

h1, h2, h3, h4{
    color: var(--light-purple);
    font-family: var(--heading-font);
    letter-spacing: var(--letter-space);
    
}



/*navigation*/
 
.top-nav{
    background-color: black; /*its not covereing the margin parts*/
    border-bottom: 2px solid var(--light-purple);
  
}

.navbar{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    line-height: var(--line-height);
    
   
    a{
        text-decoration: none;
        color: var(--no-change-purple);
        font-family: var(--p-font);
    }

    .site-name{
        margin: var(--small-gap);

        a{
            font-family: var(--button-font);
        }
    }

        .menu-all{
        /* display: none; */
        background-color: var(--no-change-black);
        position: absolute;
        top: 12.5vh;
        width: 100%;
        left: 0;
        height: 100vh;
        z-index: 2;
        margin: 0;
        padding: 20px;


        font-size: var(--small-h2);

            .nav-menu-item{
                padding: 25px 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;

                a{
                    padding: 10px 25px;

                    &:hover{
                        color: var(--no-change-black);
                        background-color: var(--no-change-purple);
                    }
                }

            }

        }

    .navbar-icons{ /*nav button shows*/
          cursor: pointer;
            margin: 10px;
            
            img{
                padding-top: 5px;
                height: 30px;
                
            }

    }

    .hide{
        display: none;
    }

    .hidden{
        opacity: 0;
        z-index: -5;
    }
}


.preview-cs-img{
    display: flex;
    justify-content: center;
    width: 80%;
   margin: var(--element-margins);
    

}

.hero{
    /* margin-top: var(--nav-heading-gap); */
    margin-bottom: var(--huge-gap);
}


.hero-photo{

    position: absolute;
    right: 20px;
    display: flex;
    justify-content: end;
    width: 100%;


}

.intro-text{
    
    margin: var(--element-margins);


    h1{
        margin: var(--element-margins) 0;
    }

    span{
        font-size: 14px;
        font-style: italic;
    }

}

.read-more-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

    margin: auto;
}

/*Buttons*/
.button-box{
    display: flex;
    justify-content: center;


}

.button-link{
    display: inline;

    margin-top:var(--element-margins) ;
    padding: 28px 30px;
    background-color: var(--no-change-purple);
    border-radius: 32px;
        
    color: var(--no-change-black);
    text-decoration: none;
    text-align: center;
    font-family: var(--button-font);
    text-transform: uppercase;
    font-size: var(--p-font);
    letter-spacing: var(--letter-space);
}

/*Buttons for cs pages*/
.button-box-cs{
    display: flex;
    justify-content: center;
    margin: var(--large-gap) 0;
}


.dangaling-persona{
    max-width: 220px;
    height: auto;
}



.portfolio-intro{
    margin: var(--element-margins);

    .port-section-text{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: var(--small-gap);
        
        .pixel-star{
             width: 35px;
        }
    }

    .portfolio-small-text{
        margin: 0 40px;
        font-style: italic;
    }
}





.page-section-text{
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: var(--small-gap);

    max-width: 85%;
    
    /* margin: 60px 5px 0; trbl */


    .pixel-star{
        width: 35px;
        /* margin: auto 10px; */
    }

    h2{
        font-size: var(--size-h3);
    }
}


.cs-work-view{

    margin-bottom: var(--large-gap);

    display: flex;
    flex-direction: column;
    gap: var(--large-gap);


}



.project-div{

    margin: var(--element-margins);
    padding:32px var(--element-margins) ;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    border: 5px solid var(--light-purple);
    border-radius: var(--border-radius-s);
    

    .cs-snip-title{
        
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin: 10px;
        
        h2{
            margin: 0;
            text-align: center;
           
            line-height: var(--line-height);
        }

    }

    .cs-info{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 15px;
        margin: var(--element-margins);

    }
    
    .sub-img-text{
        font-style: italic;
    }

    /* .button-link{
        margin: var(--element-margins);
    } */

}

.see-more-work{
    text-align: end;
    margin: var(--large-gap) 0;
    
    a{
        
        color: var(--light-purple);
        font-family: var(--button-font);
        font-style: italic;
        text-transform: uppercase;
        font-size: var(--medium-p);
        line-height: var(--line-height);

    }
    
   
    
}

/*cs pages*/
.cs-hero-img{
    img{
        width: 90%;
        margin:auto;
        /* display: flex; */
    }

   
}


.cs-details-section{

    display: flex;
    flex-direction: column;
    gap: var(--small-gap);

    
    margin: var(--large-gap);
    
     #duration{
            grid-column: 2;
        }

    .cs-details{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--element-margins);
        text-align: center;
        
       

        .cs-detail-title{
            font-family: var(--heading-font);
            font-size:var(--size-h3);
        }

        
    }

}


.page-title{
   
    /* margin: 60px auto; */
    margin: var(--element-margins);
    
    h1{
        margin: var(--element-margins) 0;
    }

    #photography-h1-text{
        font-size: var(--small-h2);
    }


}

.cs-body{
    
    margin: var(--element-margins);

      display: flex;
      flex-direction: column;
      gap: var(--medium-gap);

      .page-section-text{
        margin-top: var(--element-margins);
      }
}

.cs-sub-sections{
    
    p{
        margin: 15px 0;
    }

    .cs-section-images{
        max-width: 100%;
        margin: var(--image-gap) auto;
        border-radius: var(--border-radius-s);
        border: 5px solid var(--light-purple);
    }

    .page-section-sub{
        margin-bottom: var(--medium-gap);


        .tt-cs-micro-img{
            margin: 25px 0;
            display: flex;
            flex-direction: column;
            gap: var(--image-gap);
            .cs-section-images{
                margin: 0;
            }
           
        }

        .videos-tt{
           display: flex;
           flex-direction: column;
           gap: var(--small-gap);
           

        }
        


        h3{
            font-family: var(--p-font-bold);
            text-decoration: underline;
            margin: 20px 0 0 0;
        }
       
    }

    

    
}

.fandango-end-text{
    margin: var(--huge-gap) 0 0 0;
    text-align: center;
    line-height: var(--line-height);
    max-width: 600px;
    display: flex;
    justify-self: center;
}

.arrows-descr{
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    padding: 24px 0 24px 24px;

    .arrow-section{
        display: flex;
        flex-direction: row;
        align-items: start;

        p{
            margin: 5px 0;
        }

        .bullet-point-arrow{
            height: 2rem;
            margin: 5px;
        }
    }

}

/*About Me*/
.about-me-pic{

    margin: 40px;
    
    img{
        width: 100%;
    }


}

.about-me-body{
    display: flex;
    flex-direction: column;
    gap: var(--huge-gap);
    padding: var(--element-margins);
    margin: var(--large-gap) 0;
}

.page-sub-skill-text{
    margin: 0 0 20px 30px;
}

.about-me-skills{
    display: flex;

    .skills-image{
        width: 70%;
        margin: auto;
    }
}

#about-me-resume{
    margin: 0;
}

    

    .w-tab{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:40px var(--element-margins);
       
        .about-me-tab-title{
            margin: 15px 0 0 0 ;
            transform: translateY(4px);
            padding: 24px;
            max-width: 80%;
            text-align: center;
            border: 5px solid var(--light-purple);
            border-radius: 20px 20px 0 0;
        }

        .about-me-tab-text{
                padding: var(--medium-gap);
                border: 5px solid var(--light-purple);
                border-radius: 20px;
            p{
                text-indent: 10%;
                margin-bottom: 16px;
            }
            
        }
    }


.resume-section{
    margin: var(--element-margins) 40px;
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    
    

    .resume-section-indiv{
        
        h4{
            font-family: var(--p-font-bold);
            font-size: var(--size-h3);
            margin: 15px 0;
        }
        h3{
            margin: 0;
        }
        
    }

    

    .education-section{
        display: grid;
        grid-template-columns: 2.50fr 1fr;
        grid-template-rows: auto;
        column-gap: var(--small-gap);

        

        .left-text{
            margin-bottom: 10px;
            text-align: end;
        }

        .edu-sub-title{

            grid-column: 1;
            grid-row: 1;

            h3{
                margin: 15px 0;
            }
        }

        .edu-text {
            grid-column: 1;
            grid-row: 2;
           
        }

        .edu-dates{
            grid-column: 2;
            grid-row: 2;
           text-align: end;
        }

        
    }
    


}

.check-out-more{
    .checkmore-container{
        display: flex;
        flex-direction: column;

        gap: var(--small-gap);

        .checkmore-item{

            width: 70%;
            margin: var(--element-margins) auto;

                img{
                    width: 100%;
                    border-radius: var(--border-radius-s);
                    border: solid 2px var(--light-purple);
                }  

                .about-title{
                    font-family: var(--heading-font);
                    background-color: var(--no-change-black);
                    color: var(--no-change-purple);

                    width: 100%;
                    height: 60px;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    border:  3px solid var(--light-purple);

                    position: relative;
                    bottom: 30px;
                   

                }

                a{
                    text-decoration: none;
                }
        }


    }
}

/*Photo Page*/
p{
            color: var(--light-purple);
            font-family: var(--p-font-bold);
            font-size: var(--medium-p);
            padding: var(--element-margins);
        }
        
.photo-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px var(--element-margins);
    gap: var(--large-gap);
    max-width: 100%;


    .indiv-photo{
        display: flex;
        flex-direction: column;
        align-items: center;
               
        max-width: 700px;
        width: 100%;

    }

    div{

        picture{
          display: flex;
        }

        
        img{
            width:80%;
            margin: auto;
            border: 5px solid var(--light-purple);
            border-radius: var(--border-radius-s);
        }

        
    }

}

/*ArtWork*/
.topic-section{
    margin: 60px 0;
    
    figure{
        text-align: center;
        
        img{
            border: 5px solid var(--light-purple);
            border-radius: var(--border-radius-s);
        }
    }

    .digital-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:var(--small-gap);
        max-width: 100%;   
        
        img{
            max-width: 100%;
        }
    }

    .traditional-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:var(--small-gap);
        max-width: 100%;  

        img{
            max-width: 90%;
        }

        
    }
}



/*footer*/
footer{
    background-color: var(--no-change-black);
    border-top: 2px solid var(--no-change-purple);
    padding: var(--medium-gap);

    h2{
        margin: var(--element-margins);
        font-family: var(--button-font);
        font-size: var(--size-h3);
        text-align: center;
        color: var(--no-change-purple);
    }
    
}

.mobile-footer{
   

    .link{
        display: flex;
        justify-content: center;
        gap: var(--small-gap);
        margin: var(--element-margins);


        .footer-img{
            height: 50px;
            width: auto;
        }
    }
}

.desk-footer{
    display: none;

    .footer-img{
        height: 30px;
        width: auto;
        
    }

    .link{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        a{
            color: var(--no-change-purple);
            text-decoration: none;
            font-family: var(--p-font);
            
        }

    }    

}


   
@media screen and (min-width: 720px) { /*tablet*/
    
    main{
        margin: 60px 40px;
    } 

    p{
        font-size: var(--tablet-p);
    }

    h1{
        font-size: var(--medium-h1);
    }
    
    .navbar{
        padding: 35px;

        .menu-all{
            top:16.7vh;
        }

        .site-name{
            a{
                font-size: 24px;
            }
        }

        .nav-menu-item{
            a{
                font-size: 24px;
            }   
        }

        .navbar-icons img{
            height: 40px;
        }
    }

    .hero-photo{
        position: absolute;
        right: 40px;
    }

    .dangaling-persona{
        max-width: 300px;
    }


    .button-link{
        padding: 35px 40px;
    }
    
    
    .page-title{
        margin: 60px auto;
        max-width: 85%;
    }

   .project-div{
        max-width: 80%;
        margin: 20px auto;

        .cs-info{
            margin: var(--element-margins);
            padding: 0 var(--element-margins-tablet);
            min-width: 400px;

            
        }
        .preview-cs-img{
            min-width: 50%;
        }
             
    }
   

   

    .see-more-work{
        a{
            font-size: var(--tablet-p);
        }
    }

    .cs-snip-title h2{
        font-size: var(--large-h2);
    }

    /*about me*/
    .about-me-pic{
        display: flex;
        justify-content: center;
        
        img{
            width: 50%;
        }
    }

    .about-me-skills{
        .skills-image{
            width: 90%;
        }
    }

    .about-me-tabs{
        .w-tab{
            .about-me-tab-title{
                max-width: 50%;
            }

            .about-me-tab-text{
                p{
                    font-size: var(--tablet-p);
                }
            }
        }
    } 

    .education-section{
        column-gap: var(--medium-gap);
    }

    .check-out-more{
        .checkmore-container{
            flex-direction: row;
        }
    }

    
   /*ArtWork*/
    .topic-section{

        margin: 80px 0;

        .digital-grid{
            margin-top: var(--element-margins);

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0;

            :nth-child(1){
                grid-row: 1/span2;
            }


        }

        .traditional-grid{
            margin-top: var(--element-margins);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr); 
            align-items: center;
            justify-content: center;

            gap: 0;
            
            :nth-child(1){  /*cloth*/
                grid-row: 2 ;
                grid-column: 1;
            }

             :nth-child(2){ /*transparent*/
                grid-row: 1;
                grid-column: 2;
            }
           
        }
    }

    .cs-details-section{
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(3,.5fr);
        margin: var(--large-gap);
    
    

        :nth-child(1){ /*R*/
            grid-column: 1/span2;
            grid-row: 2;
        }

        :nth-child(2){ /*team*/
            grid-row: 1;
        }
        :nth-child(3){ /*tool*/
           grid-column: 2;
           grid-row: 1;
        }
       :nth-child(4){ /*duration*/
            grid-column: 1/span2;
            grid-row: 3;
       }
        
    }

    .cs-sub-sections{
        .cs-section-images{
            display: flex;
            width: 70%;
        }

        .page-section-sub{
            .tt-cs-micro-img{
               display: flex;
               flex-direction: column;
               align-items: center;
                
            }

            .videos-tt{
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: var(--large-gap);

                .indiv-video{
                    height: 600px;
                }
            }
        }
    }

    .cs-body{
        margin: var(--element-margins-tablet);


    }

    .cs-hero-img{
        #height-tt{
                    width: 50%;
            }

    }

    .page-section-text{
        .pixel-star{
            width: 45px;
        }
        
        h2{
        font-size: var(--large-h2);
        }    
    }
  
}

@media screen and (min-width: 1024px){ /*when screen is larger than 1024px do this - desk*/

    .index-main{
        margin-top: 150px;
    }

    main{
        margin: auto;
        max-width: 70%;
    }
    
    p{
        font-size: var(--medium-p);
    }

    h1{
        font-size: var(--small-h1);
    }

   .page-section-text{
       
        .pixel-star{
            width: 35px;
        }
   }
    
    .navbar{
        padding: 25px 80px;

        .site-name{
            a{
                font-size: var(--medium-p);
                }
        }


        .menu-all{
            padding: 0;
            
            position: static;
        
            display: flex;
            flex-direction: row;
            height: auto;
            width: auto;
            opacity: 1;
            z-index: 1;
            background: none;

                
            .nav-menu-item
            {
                padding: 0;
            }

            a{
                font-size: var(--medium-p);
                }

        }

        .navbar-icons{
            display: none;
        }

   
    }
    

    .hero-photo{
        right: 0;
        z-index: -6;
        
       

        img{
            max-width: 100%;
        }
    }

    .hero{
        max-width: 70%;
        padding: 40px 0;
    }

    .dangaling-persona{
        display: none;
    }

    .intro-text{
        margin-bottom: 30px;
    }

    .button-link{
        padding: 28px 30px;

        &:hover{
            background-color: var(--color-black);
            color: var(--light-purple);
            transition: ease .15s;
            outline: 2px solid var(--light-purple);
        }
    }

    /*Work*/

  

    .cs-work-view{
        display: flex;
        align-items: center;
    }

    .project-outline{
        max-width: 928px;
        background-color: var(--light-purple);
        outline: 3px solid var(--light-purple);
        border-radius: var(--border-radius-s);
        
        margin: 40px 50px ;
        display: inline-block;
        

        .project-div{   
            max-width: 1000px;
            padding: var(--large-gap);
            background: center 10% repeat var(--background-black) url(../content/Images/bg_fade_stars.webp);
            transform: translate(15px, -10px);
            margin: 0;
            

            display: grid;
            grid-template-columns: 2fr 1fr 1fr;
            grid-template-rows: repeat(1, .5fr);
            gap: 10px;

            h2{
                font-size: var(--small-h2);
            }

            #tt-image-preview{
                min-height:30%;
            }

            #pmtc-pic{
            }

            #fandango-h2{
                font-size: var(--size-h3);
            }

            .preview-cs-img{
                grid-row: 1/span2;
                grid-column: 1;
                min-width: 325px;

            }

            .cs-snip-title{
                grid-column:2/span3;
                grid-row: 1;
            }
            .cs-info{
                grid-column: 2/span3;
                grid-row: 2;                
            }
        }

    }

    .cs-hero-img{

        img{
            width:50%;
        }

        #height-tt{
            width: 30%;
        }
        

    }

    .cs-details-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .cs-body{
        margin: auto;
        max-width: 80%;

        
    }

    .cs-sub-sections{
            .cs-section-images{
                display: flex;
                width: 65%;
            }

            .page-section-sub{
                margin: var(--medium-gap) 0;

                .tt-cs-micro-img{
                display: flex;
                flex-direction: row;
                justify-content: center;
                max-width: 100%;
                
                #select-note-img{
                    width: 55%;
                }
                

                    .cs-section-images{
                        width: 60%;
                    }
                    
                }

                .videos-tt{
                    margin: var(--image-gap) auto;
                    .indiv-video{
                        height: 600px;
                    }
                }
            }
        }
   

    /*about me*/
    .about-me-pic{
        img{
            width: 30%;
        }
    }

    .about-me-skills .skills-image{
        width: 50%;
    }

    .w-tab{
        margin: auto;
        max-width: 80%;

        .about-me-tab-title{
            padding: 24px 100px;
        }

        .about-me-tab-text{

            
            p{
                text-indent: 5%;
                margin-bottom: 10px;
            }
            
        }
    }

    
    .resume-section{
        margin: auto;
        max-width: 80%;
        display: flex;
        gap: var(--large-gap);

        .ex-project-name-role{
            .bold{
                text-decoration: underline;
            }
        }

        .resume-section-indiv{
            display: flex;
            flex-direction: column;
            gap: var(--tiny-gap);
        }

    }

    .education-section{
        display: grid;
        grid-template-columns: 2.50fr 1fr;
        grid-template-rows: auto;
        column-gap: var(--medium-gap);

        p{
            margin-bottom: 10px;
        }

        .edu-sub-title{
            grid-column: 1;
            grid-row: 1;
        }

        .edu-text {
            grid-column: 1;
            grid-row: 2;
        }

        .edu-dates{
            grid-column: 2;
            grid-row: 2;
        }
    }

    .check-out-more{
        margin-bottom: var(--large-gap);

        .checkmore-container{
            margin: auto;
            max-width: 70%;
        }
    }

/*art*/

.topic-section{
    .digital-grid{
        :nth-child(1){
            grid-row: 1;
        }
    
        :nth-child(2){
            grid-row: 2;
            grid-column: 1/span2;
        }

        img{
            max-width: 65%;
        }
    }
}


 /*photo page*/
    .photo-all{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,.5fr);
        column-gap: 0;

        img{
            margin: 0;
            max-width: 100%;
        }
        
        :nth-child(1){ /*mountains*/
            grid-column: 1/span 2;
            justify-self: center;
            
        }
         
        :nth-child(2){ /*station*/

            grid-column: 1;
            grid-row: 2;
            
        }
 
        :nth-child(3){ /*glacier*/
            grid-column: 2;
            grid-row: 2;

            
            align-self: center;
        }

        :nth-child(4){ /*india*/
            grid-column: 1/span 2;
            grid-row: 3;
            justify-self: center;

        }
    }



    .mobile-footer{
        display: none;
    }

    footer {
        margin-top: var(--large-gap);
       h2 {
            font-size: var(--small-h2);
        }
    }
    .desk-footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--large-gap);
        margin: 40px var(--element-margins-tablet);

    
        a{
            font-size: var(--size-h3);
        }

        .footer-img{
            width: 35px;
            height: auto;
        }


    }
    
}

    
@media (prefers-color-scheme: light){
        :root{
            --light-purple:  black;
            --background-black:#EADBF2;
            --color-black:#EADBF2;
        }

        .button-link{
            outline: 2px solid var(--light-purple);
            box-shadow: -5px 10px var(--no-change-black);
            transition: all 0.2s ease;

            &:hover{
                box-shadow: none;
                transform: translateY(4px);
            }
       
        }

        .resume-section{
            border: 2px solid var(--no-change-black);
            padding: 15px;
        }

        .cs-detail-title{
            border: 5px solid var(--background-dark-purple);
            background-color: var(--background-dark-purple);
            color: var(--background-black);
        }


} 